body {
    background-color: #2D2D2D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}
.search-bar-container {
    margin-left: auto; /* Cela pousse la barre de recherche vers la droite */
}

.nom-produit {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.prix-produit {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}
/* Default styles for navbar */
.navbar {
    z-index: 1;
    position: relative;
    height: calc(7vh + 6vh); /* 7vh + 30px top + 30px bottom */
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    justify-content: center;
    background-color: #2D2D2D;
}


.navbar-left {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    justify-content: right;
    width: 35%;
    height: 100%;
    flex-shrink: 0;
    padding-bottom: 4.5vh;
}

.navbar-middle {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    justify-content: center;
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    padding-left: 0vh; /* Adjust the padding as needed */
    padding-top: 14vh;
}

.navbar-middle img {
    width: 30vh;
    height: auto;
    border-radius: 50%;
}

.navbar-right {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    justify-content: left;
    width: 35%;
    height: 100%;
    flex-shrink: 0;
    padding-bottom: 4.5vh;
}

.navbar a:hover {
    color: #FAFAFA;
    text-decoration: none;
}

.navbar .boutonNav:hover {
    color:#2D2D2D;
}

.textNav {
    text-decoration: none;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 10vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boutonNav {
    width: 18.4vh;
    height: 4vh;
    flex-shrink: 0;
    background: #DFBA61;
    border-radius: 15px;
    text-decoration: none;
    color: #2D2D2D;
    text-align: center;
    font-family: Inter;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
    margin-left: 5px;
}

.carousel-container {
    z-index: 2;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 12.5vh;
    width: 100%;
}

.pagination-button {
    width: 2vh;
    height: 2vh;
    border-radius: 10%;
    margin: 0 1vh;
    border: #000;
    cursor: pointer;
    background-color: #FAFAFA;
}

.pagination-button.active {
    background-color: #BBEB86; /* Couleur verte pour le bouton actif */
}

.slide {
    align-items:center; /* Align items vertically in the middle */
    justify-content: center;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    display: flex;
}

.slide p {
    position: absolute;
    width: 112.6vh;
    height: 28.4vh;
    flex-shrink: 0;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.6vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.slide#slide1 {
    background-image: url('/public/images/dantecMarket1.1.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.slide#slide2 {
    background-image: url('/public/images/dantecMarket2.1.jpg');
   background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.slide#slide3 {
    background-image: url('/public/images/partenaires.1.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.section2 {
    width: 100%;
    height: 60.5vh;
    flex-shrink: 0;
    background: #2D2D2D;
    display: flex;
    flex-direction: column; /* Inversion de l'ordre des éléments dans la colonne */
    justify-content: center;
    align-items: center;
}

.section2 p {
    width: 80%;
    height: 20%;
    color: #FAFAFA;
    font-size: 7vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-right: 30vh;
}
.swipeContainer {
    width: 80%;
    height: 100vh;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10vh;
}



.swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    background-position: center;
    background-size: 70%;
    width:200px;
    border-radius: 7px;
  }

  .swiper-slide img {
    
    display: block;
    width: 80%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }

  .flex-container {
    width: 95%;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
  }
  
  .col {
    flex: 1; /* Distribue l'espace également entre les colonnes */
  }
  
  .col .cell {
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 2em;

    display: flex;
    align-items: top;
    justify-content: center;
    height: calc(50vh - 2.5vh);
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    padding-top: 2vh;
    padding-left: 2vh;
  }
  
  /* Pour la colonne du milieu avec une seule cellule occupant toute la hauteur */
  .col2 .cell {
    height: 100vh;
  }

  .col1 .cell:first-child, .col3 .cell:first-child {
    margin-bottom: 5vh;
  }
  
  /* Exemples d'images de fond pour chaque cellule */
  .cell1 {  background-image: url('/public/images/vagues.jpg'); }
  .cell2 { background-color: rgba(180, 178, 160, 0.5); }
  .cell3 { background-color: rgba(180, 178, 160, 0.5); }
  .cell4 { background-color: rgba(172, 226, 204, 0.5); }
  .cell5 { background-color: rgba(28, 95, 40, 0.5); }

  .cell1 {
    display: block; /* Change le display pour permettre le positionnement du texte */
    position: relative; /* Position relative pour le positionnement absolu du texte à l'intérieur */ 
    height: 20vh;
  }


  
  .cell3 {
    display: block; /* Change le display pour permettre le positionnement du texte */
    position: relative; /* Position relative pour le positionnement absolu du texte à l'intérieur */
    text-align: center;
    height: 100vh;
  }

  .cell1 .text {
    position: absolute;
       top: 2%;
       left: 3%;
       /* Assurez-vous d'ajouter une classe ou un élément `<span>` ou `<p>` avec la classe `.text` à votre HTML dans .cell3 */
     }


  
  .cell3 .text {
 position: absolute;
    top: 2%;
    left: 3%;
    /* Assurez-vous d'ajouter une classe ou un élément `<span>` ou `<p>` avec la classe `.text` à votre HTML dans .cell3 */
  }

  .cell3 img {
    width: 75%; /* Fait en sorte que l'image couvre toute la largeur de la cellule */
    height: 75%; /* Fait en sorte que l'image couvre toute la hauteur de la cellule */
    object-fit: cover; /* Assure que l'image couvre la cellule sans perdre son ratio */
    object-position: center; /* Centre l'image dans la cellule */
    border-radius: 2%; /* Optionnel: Applique un bord arrondi à l'image si désiré */
    display: block; /* Rend l'image traitée comme un bloc pour permettre le centrage horizontal */
    margin: auto; /* Centre horizontalement l'image dans la cellule */
  }
  .cell1 img {
    width: 25vh; /* Fait en sorte que l'image couvre toute la largeur de la cellule */
    height: 25vh; /* Fait en sorte que l'image couvre toute la hauteur de la cellule */
    object-fit: cover; /* Assure que l'image couvre la cellule sans perdre son ratio */
    object-position: center; /* Centre l'image dans la cellule */
    border-radius: 2%; /* Optionnel: Applique un bord arrondi à l'image si désiré */
    display: block; /* Rend l'image traitée comme un bloc pour permettre le centrage horizontal */
    margin: auto; /* Centre horizontalement l'image dans la cellule */
  }



  

.card-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si l'espace est insuffisant */
}

.card-container button {
    flex-shrink: 0;
    background: rgba(223, 186, 97, 0.95);
    border-radius: 1vh;
    text-decoration: none;
    color: #2D2D2D;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh; /* Ajusté pour être plus petit */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    min-width: 20vh; /* Assure un minimum de largeur */
    min-height: 5vh; /* Assure un minimum de hauteur */
    
}


.card-container p{
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.card-container .card1 button {
    position: relative;
    left: 50%;
    margin-top: 20%;
    transform: translateX(-50%);
    width: 10%;
    height: 8%;
}

.card-container .card1 p {
    position: relative;
    left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    width: 95%;
    height: 50%;

}

.card1 {
    width: 30%;
    height: 75vh;
    flex-shrink: 0;
    margin-right: 2vh; 
    box-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.card1#application {
    background-image: url('/public/images/application.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.card1#produits {
    background-image: url('/public/images/produits.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.card1#actualité {
    background-image: url('/public/images/actualites1.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.card2 {
    width: 45.3%;
    height: 75vh;
    flex-shrink: 0;
    margin-right: 3vh; /* Ajustez la marge selon vos besoins pour l'espace entre les cartes */
    margin-bottom: 1vh; 
    margin-top: 4vh; 
    box-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.card-container .card2 button {
    position: relative;
    left: 50%;
    margin-top: 0%;
    transform: translateX(-50%);
    width: 40%;
    height: 8%;
}

.card-container .card2 p {
    position: relative;
    left: 50%;
    margin-top: 20%;
    transform: translateX(-50%);
    width: 95%;
    height: 50%;
    text-align: center;
}

.card2#catalogue {
    background-image: url('/public/images/catalogue.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.card2#partenaires {
    background-image: url('/public/images/partenaires.jpg');
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
}

.avis-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet aux cartes d'avis de passer à la ligne si l'espace est insuffisant */
    margin-top: 2vh; /* Ajoutez une marge en haut pour l'espace entre les cartes d'avis et les autres conteneurs */
}

.avis-container p{
    height: 20%;
    color: #ffffff;
    font-size: 7.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-right: 30vh;
}

.card-avis {
    width: 25%;
    height: 8%;
    flex-shrink: 0;
    background: #E3E3E3;
    margin-right: 5vh; /* Ajustez la marge selon vos besoins pour l'espace entre les cartes d'avis */
    margin-bottom: 1vh; /* Ajoutez une marge en bas pour l'espace entre les lignes */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajuste l'espace entre les éléments à l'intérieur de la carte */
    box-shadow: v 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.titre,
.avis,
.date,
.etoiles {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titre {
    height: 15%;
    font-size: 3.6vh;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.avis {
    height: 60%;
    font-size: 3.6vh;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.date {
    height: 5%;
    font-size: 2vh;
    font-weight: 500;
    color: #000;
    text-align: right;
}

.etoiles {
    height: 20%;
    display: flex;
    position: relative;
}

.etoiles[data-rating="5"] p[id="1"],
.etoiles[data-rating="5"] p[id="2"],
.etoiles[data-rating="5"] p[id="3"],
.etoiles[data-rating="5"] p[id="4"],
.etoiles[data-rating="5"] p[id="5"] {
    color: #DFBA61;
}

.etoiles[data-rating="4"] p[id="1"],
.etoiles[data-rating="4"] p[id="2"],
.etoiles[data-rating="4"] p[id="3"],
.etoiles[data-rating="4"] p[id="4"] {
    color: #DFBA61;
}

.etoiles[data-rating="3"] p[id="1"],
.etoiles[data-rating="3"] p[id="2"],
.etoiles[data-rating="3"] p[id="3"] {
    color: #DFBA61;
}

.etoiles[data-rating="2"] p[id="1"],
.etoiles[data-rating="2"] p[id="2"] {
    color: #DFBA61;
}

.etoiles[data-rating="1"] p[id="1"] {
    color: #DFBA61;
}

.etoiles p {
    color: #D9D9D9;
    -webkit-text-stroke: 0.2vh #2D2D2D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    font-size: 5vh;
    margin: 0 0.2vh;
}

.etoiles p:not(:first-child) {
    margin-left: 0.5vh; /* Ajustement de la marge à gauche pour les étoiles suivantes */
}

.boutonAvis {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement si nécessaire */
    height: 100%; /* Assurez-vous que le div ait une hauteur pour le centrage vertical */
}

.boutonAvis button{
    width: 40%;
    height: 8%;
    
    background: rgba(223, 186, 97, 0.80);
    border-radius: 5vh;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


footer {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    background: #2D2D2D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FAFAFA;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.container-foot {
    width: 50vh;
    height: 30%;
    margin-right: 5vh;
    margin-bottom: 1vh;
}

.container-foot p,
.container-foot ul{
    width: 100%;
    height: 10%;
    flex-shrink: 0;
    color: #FAFAFA;
    font-size: 2vh;
    font-style: normal;
    line-height: normal;
}

.container-foot p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.container-foot ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1001;
}

.container-foot ul {
    list-style-type: none;
    padding: 0;
}

.container-foot ul li {
    margin-bottom: 0.5vh;
}

.container-foot button {
    width: 18vh;
    height: 5vh;
    border-radius: 1vh;
    margin-top: 1vh;
    background-size: cover; /* Ajuste la taille de l'image pour couvrir complètement le bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    border: none;
    cursor: pointer;
}

.container-foot button#googlePlay {
    background-image: url('/public/images/googleplay_fr.svg');
}

.container-foot button#appStore {
    background-image: url('/public/images/applestore_fr.svg');
}

.footer-container#deuxieme {
    padding-bottom: 13%;
}

.container-foot#haut {
    margin-bottom: 8vh;
}

.btn-social-icon {
    font-size: 5vh;
    width: 8vh;
    height: auto;
    color: white;
}
.iconPanier {
    margin-right: 15px;
}

.btn-social-icon:hover {
    color: rgba(223, 186, 97, 0.80);
}





@media screen and (min-width: 1920px) {
    .navbar-left, .navbar-middle, .navbar-right {
        padding-left: 5%;
    }

    .navbar-middle img {
        width: 15vh;
    }

    .navbar-middle, .navbar-right {
        padding-left: 10vh;
    }

    .textNav {
        font-size: 2.4vh;
        padding-right: 5vh;
    }

    .boutonNav {
        width: 15vh;
        height: 5vh;
        font-size: 2.4vh;
    }

    .slide p {
        width: 70%;
        font-size: 3.6vh;
    }

    .pagination-button {
        width: 1.5vh;
        height: 1.5vh;
        margin: 0 0.5vh;
    }

    .card-container button {
        width: 25vh;
        height: 6.5vh;
        font-size: 2.4vh;
    }

    .card-container p {
        width: 70%;
        font-size: 3.6vh;
    }

    .card-container .card1, .card-container .card2 {
        width: 40vh;
        height: 60vh;
    }

    .avis, .titre, .date {
        font-size: 2.4vh;
    }

    .etoiles p {
        font-size: 3vh;
    }

    footer {
        height: 40%;
    }

    .container-foot {
        width: 35vh;
    }

    .container-foot p, .container-foot ul {
        font-size: 1.8vh;
    }

    .container-foot button {
        width: 12vh;
        height: 4vh;
        font-size: 1.4vh;
    }
}

@media screen and (max-width: 1920px) {
    /* Ajouter des styles adaptés aux résolutions inférieures si nécessaire */
}

/* Ajout de styles pour les résolutions spécifiques des téléphones */
@media screen and (max-width: 767px) {
    .navbar {
        height: calc(7vh + 0px);
    }

    .navbar-left, .navbar-middle, .navbar-right {
        width: 30%;
        padding: 10px;
    }

    .navbar-middle img {
        width: 25%;
    }

    .navbar-middle, .navbar-right {
        padding: 0;
    }

    .textNav {
        font-size: 12px;
        padding: 0;
    }

    .boutonNav {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .carousel-container {
        width: 100%;
        height: 17%;
    }

    .slide p {
        width: 20%;
        height: 10px;
        font-size: 35px;
        margin: 12.5vh 9.5vh;
        -webkit-text-stroke: 1.2px #2D2D2D;
    }

    .carousel-pagination {
        bottom: 715px;
    }

    .pagination-button {
        width: 8px;
        height: 8px;
        margin: 0 3px;
    }

    .card-container button {
        width: 180px;
        height: 45px;
        font-size: 18px;
    }

    .card-container p {
        width: 90%;
        font-size: 24px;
    }

    .card-container .card1, .card-container .card2 {
        width: 80vw;
        height: 40vh;
    }

    .avis, .titre, .date {
        font-size: 16px;
    }

    .etoiles p {
        font-size: 20px;
    }

    footer {
        height: 60%;
    }

    .container-foot {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container-foot p, .container-foot ul {
        font-size: 14px;
    }

    .container-foot button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

}