@import "~bootstrap/scss/bootstrap";

label {
    position: relative;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #DFBA61;
    transition: all 0.2s;
}

label .password-icon:hover {
    cursor: pointer;
    color: #000000;
}

label .password-icon .feather-eye-off {
    display: none;
}

.image-register-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/Register.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Assure que l'image de fond couvre le conteneur */
    background-position: center; /* Centre l'image de fond */
    width: 60%;
    height: auto;
}

.frame {
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 10px;
    height: 200px;
}

.registration-frame {
    float: right;
    background-color: white;
    padding: 80px;
     /* 20px en haut et en bas, pas de marge à gauche et à droite */
    box-shadow: 0 0 20px #DFBA61;
    width: calc(60% - 2vh); /* 50% de la largeur moins les marges de 20px */
    box-sizing: border-box; /* Pour inclure la bordure et le rembourrage dans la largeur définie */
}

.registration-frame p {
    color: #2D2D2D;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.registration-frame a {
    color: #2D2D2D;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}

.flexrow{
    width: 90%;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    margin-top: 4vh;
}


.form-group {
    margin-bottom: 15px;
    font-weight: bold;
}

.form-group a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #DFBA61;
}
.form-control:focus {
    border-color: #DFBA61;
    outline-color: #DFBA61;
}
.form-group input:focus {
    border-color: #DFBA61;
}

.registerButton {
    width: 100%;
    background: linear-gradient(113deg, #DFBA61 34.85%, #F3E5AB 95.45%);
    border-color: #ffffff;
    padding: 2vh;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    justify-content: center;
    display: flex;
    cursor: pointer;
  
    
}
.registerButton:hover {
    border-radius: 20px;
    border-color: #DFBA61;
    
}

.registerButton:focus {
    outline-color: #DFBA61;
}


.registerButton:active {
    background-color: #DFBA61;
}


@keyframes rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}


.agreeTerms:active {
    background-color: #DFBA61; /* Couleur de fond plus foncée lors du clic */
}


.agreeTerms {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    user-select: none;
    border: 2px solid #DFBA61;
    border-radius: 5px; 
    cursor: pointer;
    flex-shrink: 0;
}


.agreeTerms:active {
    background-color: #DFBA61; /* Couleur de fond plus foncée lors du clic */
}
